#box-wrapper,
#box-second,
#box-third,
#box-fourth,
#box-fifth,
#box-sixth {
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: 'MyFontName', Fallback, sans-serif;
}
#projects_games {
    display: inline-block;
}
/* BACKGROUND-COLOR */

#box-wrapper {
    background-color: #18121E;
}
#box-second {
    background-color: #FBA100;
}
#box-third {
    background-color: #FEDC01;
}
#box-fourth {
    background-color: #C63D0F;
}
#box-fifth {
    background-color: #A8CD1B;
}
#box-sixth {
    background-color: #18121E;
}
/* FONT */

@font-face {
    font-family: 'MyFontName';
    /*a name to be used later*/
    
    src: url('../font/Adequate-ExtraLight.ttf');
    /*URL to font*/
}
/* MY NAME */

#box-wrapper h1 {
    text-align: center;
    position: absolute;
    color: snow;
    margin: auto;
    letter-spacing: 20px;
    top: 50%;
    /* IMPORTANT */
    
    left: 50%;
    /* IMPORTANT */
}
/* WHO AM I */

#box-wrapper p {
    text-align: left;
    position: absolute;
    color: snow;
    letter-spacing: 5px;
    margin: 10px;
    top: 3%;
    /* IMPORTANT */
    
    left: 3%;
    /* IMPORTANT */
}
#box-second h1,
ul.a,
#box-third h1,
#box-fourth h1,
#box-fifth h1,
#box-fifth h2,
#box-sixth h1,
h2 {
    margin: auto;
    left: 50%;
    text-align: center;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    color: white;
}
#box-second ul.a {
    text-align: left;
}

#box-fifth h1,
h2 {
    color: white;
    display: block;
}
#box-sixth h1,
#box-sixth h2 {
    color: #202020;
}
/* smartphones, iPhone, portrait 480x320 phones */

@media (min-width: 300px) {
    /* FIRST PAGE */
    
    #box-wrapper h1 {
        font-size: 18px;
        transform: translateX(-50%) translateY(-300%);
    }
    #box-wrapper p {
        font-size: 8px;
    }
    #me {
        width: 65vw;
        height: 65vh;
        transform: translate(25%, 50%);
    }
    /* SECOND PAGE */
    
    #box-second h1 {
        top: 6%;
        font-size: 5vw;
    }
    ul.a {
        left: 50%;
        top: 37%;
        font-size: 13px;
        width: 270px;
    }
    #hello {
        width: 55vw;
        height: 55vh;
        transform: translate(-10%, 70%);
    }
    /* THIRD PAGE */
    
    #box-third h1 {
        top: 6%;
        font-size: 5vw;
    }
    #myskills {
        width: 45vw;
        height: 45vh;
        transform: translate(-10%, -25%);
    }
    #html,
    #css,
    #js,
    #photoshop,
    #bootstrap,
    #rwd,
    #illustrator,
    #inkscape,
    #gimp {
        margin-top: 20%;
        width: 20vw;
        height: 20vh;
    }
    #photoshop,
    #illustrator,
    #inkscape,
    #gimp,
    #rwd {
        margin-top: 1%;
    }
    /* FOURTH PAGE */
    
    #box-fourth h1 {
        top: 6%;
        font-size: 5vw;
    }
    #firstgame,
    #secondgame,
    #thirdgame {
        float: left;
        margin: 20px;
        top: 20vh;
    }
    .ih-item.circle {
        position: relative;
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
    .ih-item.circle .img {
        position: relative;
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
    .ih-item.circle .img:before {
        box-shadow: inset 0 0 0 4px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.3);
    }
    /* FIFTH PAGE */
    
    #box-fifth h1 {
        top: 9%;
        font-size: 25px;
    }
    #jesli {
        left: 50%;
        top: 30%;
        font-size: 3vw;
    }
    #email {
        font-weight: 900;
        left: 50%;
        top: 50%;
        font-size: 4vw;
    }
    #czekam {
        left: 50%;
        top: 70%;
        font-size: 3vw;
    }
    /* SIXTH PAGE */
    
    #box-sixth h1 {
        letter-spacing: 3px;
        left: 50%;
        top: 20%;
        font-size: 3vw;
    }
    #box-sixth h2 {
        letter-spacing: 3px;
        left: 50%;
        top: 40%;
        font-size: 3vw;
    }
    /* @-webkit-keyframes mymove {
      from {left: 0px;}
      to {left: 100px;}
}

    @keyframes mymove {
      from {left: 0px;}
      to {left: 100px;}
}
*/
}
/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */

@media (min-width: 481px) {
    /* FIRST PAGE */
    
    #box-wrapper h1 {
        font-size: 25px;
        transform: translateX(-50%) translateY(-220%);
    }
    #box-wrapper p {
        font-size: 8px;
    }
    #me {
        width: 60vw;
        height: 60vh;
        transform: translate(30%, 70%);
    }
    /* SECOND PAGE */
    
    #box-second h1 {
        top: 8%;
        font-size: 4vw;
    }
    ul.a {
        left: 50%;
        top: 35%;
        font-size: 17px;
        width: 370px;
    }
    #hello {
        width: 50vw;
        height: 50vh;
        transform: translate(-10%, 100%);
    }
    /* THIRD PAGE */
    
    #box-third h1 {
        top: 9%;
        left: 50%;
        font-size: 25px;
    }
    #myskills {
        width: 50vw;
        height: 50vh;
        transform: translate(-10%, -1%);
    }
    #html,
    #css,
    #js,
    #photoshop,
    #bootstrap,
    #rwd,
    #illustrator,
    #inkscape,
    #gimp {
        margin-top: 20%;
        width: 13vw;
        height: 13vh;
    }
    #photoshop,
    #illustrator,
    #inkscape,
    #gimp,
    #rwd {
        margin-top: 2%;
    }
    /* FOURTH PAGE */
    
    #box-fourth h1 {
        top: 9%;
        left: 50%;
        font-size: 25px;
    }
    #firstgame,
    #secondgame,
    #thirdgame {
        float: left;
        margin: 60px;
        top: 10vh;
    }
    .ih-item.circle {
        position: relative;
        width: 120px;
        height: 120px;
        border-radius: 50%;
    }
    .ih-item.circle .img {
        position: relative;
        width: 120px;
        height: 120px;
        border-radius: 50%;
    }
    .ih-item.circle .img:before {
        box-shadow: inset 0 0 0 6px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.3);
    }
    /* FIFTH PAGE */
    
    #box-fifth h1 {
        top: 9%;
        font-size: 25px;
    }
    #jesli {
        left: 50%;
        top: 30%;
        font-size: 2.5vw;
    }
    #email {
        font-weight: 900;
        left: 50%;
        top: 50%;
        font-size: 3vw;
    }
    #czekam {
        left: 50%;
        top: 70%;
        font-size: 2.5vw;
    }
    #box-sixth h1 {
        top: 9%;
        font-size: 30px;
    }
    /* SIXTH PAGE */
    
    #box-sixth h2 {
        left: 50%;
        top: 30%;
        font-size: 3vw;
    }
    #box-sixth h1 {
        letter-spacing: 3px;
        left: 50%;
        top: 25%;
        font-size: 3vw;
    }
    #box-sixth h2 {
        letter-spacing: 3px;
        left: 50%;
        top: 50%;
        font-size: 3vw;
    }
}
/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */

@media (min-width: 641px) {
    /* FIRST PAGE */
    
    #box-wrapper h1 {
        font-size: 30px;
        transform: translateX(-15%) translateY(-50%);
    }
    #box-wrapper p {
        font-size: 9px;
    }
    #me {
        width: 80vw;
        height: 80vh;
        transform: translate(-130px, 50px);
    }
    /* SECOND PAGE */
    
    #box-second h1 {
        top: 8%;
        font-size: 4vw;
    }
    ul.a {
        left: 63%;
        top: 55%;
        font-size: 18px;
        width: 300px;
    }
    #hello {
        width: 45vw;
        height: 45vh;
        transform: translate(-230px, 150px);
    }
    /* THIRD PAGE */
    
    #box-third h1 {
        top: 9%;
        left: 50%;
        font-size: 35px;
    }
    #myskills {
        width: 40vw;
        height: 40vh;
        transform: translate(-60%, -20%);
    }
    #html,
    #css,
    #js,
    #photoshop,
    #bootstrap,
    #rwd,
    #illustrator,
    #inkscape,
    #gimp {
        margin-top: 15%;
        width: 13vw;
        height: 13vh;
    }
    #photoshop,
    #illustrator,
    #inkscape,
    #gimp,
    #rwd {
        margin-top: 2%;
    }
    /* FOURTH PAGE */
    
    #box-fourth h1 {
        top: 9%;
        left: 50%;
        font-size: 35px;
    }
    #firstgame,
    #secondgame,
    #thirdgame {
        float: left;
        margin: 60px;
        top: 10vh;
    }
    .ih-item.circle {
        position: relative;
        width: 140px;
        height: 140px;
        border-radius: 50%;
    }
    .ih-item.circle .img {
        position: relative;
        width: 140px;
        height: 140px;
        border-radius: 50%;
    }
    .ih-item.circle .img:before {
        box-shadow: inset 0 0 0 8px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.3);
    }
    /* FIFTH PAGE */
    
    #box-fifth h1 {
        top: 9%;
        font-size: 35px;
    }
    #jesli {
        left: 50%;
        top: 30%;
        font-size: 2vw;
    }
    #email {
        font-weight: 900;
        left: 50%;
        top: 50%;
        font-size: 3vw;
    }
    #czekam {
        left: 50%;
        top: 70%;
        font-size: 2vw;
    }
    /* SIXTH PAGE */
    
    #box-sixth h1 {
        letter-spacing: 3px;
        left: 50%;
        top: 25%;
        font-size: 2.5vw;
    }
    #box-sixth h2 {
        letter-spacing: 3px;
        left: 50%;
        top: 50%;
        font-size: 2.5vw;
    }
}
/* tablet, landscape iPad, lo-res laptops ands desktops */

@media (min-width: 961px) {
    /* FIRST PAGE */
    
    #box-wrapper h1 {
        font-size: 30px;
        transform: translateX(-20%) translateY(-50%);
    }
    #box-wrapper p {
        font-size: 10px;
    }
    #me {
        width: 95vw;
        height: 95vh;
        transform: translate(-250px, 40px);
    }
    /* SECOND PAGE */
    
    #box-second h1 {
        top: 10%;
        font-size: 3vw;
    }
    ul.a {
        left: 70%;
        top: 50%;
        font-size: 1.7vw;
        width: 500px;
    }
    #hello {
        width: 60vw;
        height: 60vh;
        transform: translate(-320px, 90px);
    }
    /* THIRD PAGE */
    
    #box-third h1 {
        top: 10%;
        font-size: 2.5vw;
    }
    #myskills {
        width: 45vw;
        height: 45vh;
        transform: translate(-70%, -50%);
    }
    #html,
    #css,
    #js,
    #photoshop,
    #bootstrap,
    #rwd,
    #illustrator,
    #inkscape,
    #gimp {
        margin-top: 11%;
        width: 15vw;
        height: 15vh;
    }
    #photoshop,
    #illustrator,
    #inkscape,
    #gimp,
    #rwd {
        margin-top: 3%;
    }
    /* FOURTH PAGE */
    
    #box-fourth h1 {
        top: 10%;
        font-size: 2.5vw;
    }
    #firstgame,
    #secondgame,
    #thirdgame {
        float: left;
        margin: 60px;
        top: 10vh;
    }
    .ih-item.circle {
        position: relative;
        width: 140px;
        height: 140px;
        border-radius: 50%;
    }
    .ih-item.circle .img {
        position: relative;
        width: 140px;
        height: 140px;
        border-radius: 50%;
    }
    .ih-item.circle .img:before {
        box-shadow: inset 0 0 0 10px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.3);
    }
    /* FIFTH PAGE */
    
    #box-fifth h1 {
        top: 9%;
        font-size: 40px;
    }
    #jesli {
        left: 50%;
        top: 30%;
        font-size: 2vw;
    }
    #email {
        font-weight: 900;
        left: 50%;
        top: 50%;
        font-size: 2.5vw;
    }
    #czekam {
        left: 50%;
        top: 70%;
        font-size: 2vw;
    }
    /* SIXTH PAGE */
    
    #box-sixth h1 {
        letter-spacing: 3px;
        left: 50%;
        top: 25%;
        font-size: 2vw;
    }
    #box-sixth h2 {
        letter-spacing: 3px;
        left: 50%;
        top: 50%;
        font-size: 2vw;
    }
}
/* big landscape tablets, laptops, and desktops */

@media (min-width: 1025px) {
    /* FIRST PAGE */
    
    #box-wrapper h1 {
        font-size: 35px;
        transform: translateX(-30%) translateY(-50%);
    }
    #box-wrapper p {
        font-size: 9px;
    }
    #me {
        width: 95vw;
        height: 95vh;
        transform: translate(-300px, 40px);
    }
    /* SECOND PAGE */
    
    #box-second h1 {
        top: 10%;
        font-size: 2.5vw;
    }
    ul.a {
        left: 70%;
        top: 50%;
        font-size: 1.5vw;
        width: 600px;
    }
    #hello {
        width: 80vw;
        height: 80vh;
        transform: translate(-350px, 40px);
    }
    /* THIRD PAGE */
    
    #box-third h1 {
        top: 10%;
        font-size: 2.5vw;
    }
    #myskills {
        width: 45vw;
        height: 45vh;
        transform: translate(-80%, -50%);
    }
    #html,
    #css,
    #js,
    #photoshop,
    #bootstrap,
    #rwd,
    #illustrator,
    #inkscape,
    #gimp {
        margin-top: 9%;
        width: 16vw;
        height: 16vh;
    }
    #photoshop,
    #illustrator,
    #inkscape,
    #gimp,
    #rwd {
        margin-top: 3%;
    }
    /* FOURTH PAGE */
    
    #box-fourth h1 {
        top: 10%;
        font-size: 2.5vw;
    }
    #firstgame,
    #secondgame,
    #thirdgame {
        float: left;
        margin: 60px;
        top: 10vh;
    }
    .ih-item.circle {
        position: relative;
        width: 160px;
        height: 160px;
        border-radius: 50%;
    }
    .ih-item.circle .img {
        position: relative;
        width: 160px;
        height: 160px;
        border-radius: 50%;
    }
    .ih-item.circle .img:before {
        box-shadow: inset 0 0 0 12px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.3);
    }
    /* FIFTH PAGE */
    
    #box-fifth h1 {
        top: 9%;
        font-size: 40px;
    }
    #jesli {
        left: 50%;
        top: 30%;
        font-size: 2vw;
    }
    #email {
        font-weight: 900;
        left: 50%;
        top: 50%;
        font-size: 2.5vw;
    }
    #czekam {
        left: 50%;
        top: 70%;
        font-size: 2vw;
    }
    #box-sixth h1 {
        letter-spacing: 3px;
        left: 50%;
        top: 25%;
        font-size: 1.5vw;
    }
    #box-sixth h2 {
        letter-spacing: 3px;
        left: 50%;
        top: 50%;
        font-size: 1.5vw;
    }
}
/* hi-res laptops and desktops */

@media (min-width: 1281px) {
    /* FIRST PAGE */
    
    #box-wrapper h1 {
        font-size: 35px;
        transform: translateX(-30%) translateY(-50%);
    }
    #box-wrapper p {
        font-size: 9px;
    }
    #me {
        width: 95vw;
        height: 95vh;
        transform: translate(-400px, 40px);
    }
    /* SECOND PAGE */
    
    #box-second h1 {
        top: 15%;
        font-size: 2vw;
    }
    ul.a {
        left: 70%;
        top: 50%;
        font-size: 1.5vw;
        width: 600px;
    }
    #hello {
        width: 80vw;
        height: 80vh;
        transform: translate(-350px, 40px);
    }
    /* THIRD PAGE */
    
    #box-third h1 {
        top: 9%;
        left: 50%;
        font-size: 2vw;
    }
    #myskills {
        width: 50vw;
        height: 50vh;
        transform: translate(-70%, -70%);
    }
    #html,
    #css,
    #js,
    #photoshop,
    #bootstrap,
    #rwd,
    #illustrator,
    #inkscape,
    #gimp {
        margin-top: 10%;
        width: 17vw;
        height: 17vh;
        margin-right: -3%;
    }
    #photoshop,
    #illustrator,
    #inkscape,
    #gimp,
    #rwd {
        margin-top: 3%;
    }

    /* FOURTH PAGE */
    
    #box-fourth h1 {
        top: 9%;
        left: 50%;
        font-size: 2vw;
    }
    #firstgame,
    #secondgame,
    #thirdgame {
        float: left;
        margin: 60px;
        top: 10vh;
    }
    .ih-item.circle {
        position: relative;
        width: 220px;
        height: 220px;
        border-radius: 50%;
    }
    .ih-item.circle .img {
        position: relative;
        width: 220px;
        height: 220px;
        border-radius: 50%;
    }
    .ih-item.circle .img:before {
        box-shadow: inset 0 0 0 14px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.3);
    }
    /* FIFTH PAGE */
    
    #box-fifth h1 {
        top: 9%;
        font-size: 2vw;
    }
    #jesli {
        left: 50%;
        top: 30%;
        font-size: 1.5vw;
    }
    #email {
        font-weight: 900;
        left: 50%;
        top: 50%;
        font-size: 2vw;
    }
    #czekam {
        left: 50%;
        top: 70%;
        font-size: 1.5vw;
    }
    /* SIXTH PAGE */
    
    #box-sixth h1 {
        letter-spacing: 3px;
        left: 50%;
        top: 25%;
        font-size: 1.5vw;
    }
    #box-sixth h2 {
        letter-spacing: 3px;
        left: 50%;
        top: 50%;
        font-size: 1.5vw;
    }
}
body,
html {
    height: 100vh;
    font-size: 0px;
    margin: 0;
}
#pinContainer {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.panel {
    height: 100vh;
    width: 100%;
    position: absolute;
    text-align: center;
}
b {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: relative;
    font-size: 30px;
}
ul.a {
    list-style-type: circle;
}
.ih-item.circle.effect13.colored .info {
    background: #18121E;
}
